* { box-sizing: border-box;}




a, a:hover, h1,h2,h3,p { font-family: 'Rubik', sans-serif;}
a, a:hover { font-size:xx-large; text-decoration: underline; font-weight: bold; cursor: pointer; color: rgb(255, 255, 255); }
a:hover { color: red; }


h1 { margin-left: 5%; color: white;}


header {  display: flex; flex-direction: row; justify-content:space-evenly; background-color:rgb(53, 120, 143); background-blend-mode: difference; }

.main { margin-left: 20%; margin-top: 1%; }

.first input { padding-bottom: 1%; margin-bottom: 3%; }

.customerDetails { display: flex; flex-direction: column; width: 25em; }


.amount { width: 5%; }
.hours { width: 8%; }
.price { width: 5%; }
.vat { width: 5%;}
.sum { width: 8%; }
.plus, .plus:hover, .minus, .minus:hover { cursor: pointer; color: black; text-decoration: none; font-size: medium; }

.textarea { margin-top: 3%; }

#comments { width: 48%; height: 80px; }

.mobile-list { display: none; }
.rm-mobile { display: none; }

#doBtn { margin-top: 5%; }

footer { margin-left: 20%; margin-top: 8%; font-size: x-small; }



@media screen and (max-width: 600px) {

    a, a:hover, h1,h2,h3,p { font-family: 'Rubik', sans-serif;}
    a, a:hover { font-size:xx-large; text-decoration: underline; font-weight: bold; cursor: pointer; color: rgb(255, 255, 255); }
    a:hover { color: red; }


    h1 { margin-left: 10%; color: white; font-size: larger; }


    header {  display: flex; flex-direction: row; justify-content:space-evenly; background-color:rgb(53, 120, 143); background-blend-mode: difference; }

    .main { margin-left: 20%; margin-top: 1%; }

    .first input { padding-bottom: 1%; margin-bottom: 3%; }

    .customerDetails { display: flex; flex-direction: column; width: 15em; }

    .mobile-list { display: inline; }
    .mobile-things { font-size: small; }
    .rm-mobile { display: inline; cursor: pointer; }
    
    .plusDiv { display: flex; flex-direction:column; }


    .amount { width: 15em; }
    .hours { width: 15em; }
    .price { width: 15em; }
    .moms { width: 15em;}
    .sum { width: 15em; }
    .plus, .plus:hover, .minus, .minus:hover { cursor: pointer; color: black; text-decoration: none; }

    .textarea { margin-top: 3%; }

    #comments { width: 60%; height: 80px; }

    #pID { width: 15em; }

    #doBtn { margin-top: 5%; }

    footer { margin-left: 20%; margin-top: 8%; font-size: x-small; }


}